* {
	padding: 0;
	margin: 0;
}

body {
	background: #FAFAFA;
	font-size: 20px;
	font-family: Helvetica, Arial;
	color: #212121;
	line-height: 1.4;
}

.header {
	height: 100px;
	background: #3bb8e9;
	color: #fff;
}
.header a {
	color: #fff;
	text-decoration: none;
}
.header-container {
	height: 100%;
}
.header-container-tbl {
	height: 100%;
	width: 100%;	
}
.header-title {
	font-size: 30px;
	text-transform: uppercase;
}
.header-subtitle {
	margin: 10px 0;
	font-size: 18px;
}

/* Main nav */
.main-nav {
	padding: 10px 0;
}
.main-nav-item a {
	display: block;
	padding: 20px 10px 20px 100px;
	color: #202020;
	text-decoration: none;
}
.main-nav-item a:hover {
	background-color: #E8F4FA; 
	color: #1DAEE6;
}

/* Plates */
.plates {
	overflow: hidden;
}
.plate {
	position: relative;
	float:left;
	overflow: hidden;
	width: 50%;
	background-size: cover;
}
.plate:before {
	content: '';
	padding-top: 100%;
	float:left;
}
.plate-wide {
	width: 100%;
}
.plate-wide:before {
	padding-top: 50%;
}
.plate-content {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(0,0,0,.1);
}
.plate-content:hover {
	background: rgba(0,0,0,.2);
}
.plate-title {
	position: absolute;
	bottom: 7%;
	left: 7%;
	right: 24%;
	height: auto;
	color: white;
	font-weight: bold;
	text-decoration: none;
}
.plate-wide .plate-title {
	left: 3.5%;
}

/* Item Layout */
.item-layout-cover {
	height: 200px;
	background-size: cover;
	position: relative;
}
.item-layout-cover:before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: rgba(0,0,0,.1);
}
.item-layout-button {
	position: absolute;
	right: 30px;
	bottom: -35px;
	width: 70px;
	height: 70px;
	z-index: 1;
}
.item-layout-section {
	padding: 0 30px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ddd;
}
.item-layout-section:last-child {
	padding-bottom: none;
	border-bottom: none;
}
.item-layout-headline {
	font-size: 30px;
	margin-top: 20px;
	border-bottom: none;
	padding-bottom: none;
}

.item-layout-labels {
	overflow: hidden;
}

.item-layout-content-headline {
	font-size: 18px;
	margin-bottom: 18px;
}

/* Labels */
.label-icon {
	height: 46px;
	width: 46px;
	background: #eee;
}

.label, .label-icon {
	display: inline-block;
	vertical-align: middle;
	margin-right: 30px;
}
.label-title {
	opacity: .7;
	font-size: 14px;
	margin-bottom: 3px;
}

/* Contacts */
.contacts-item {
	list-style: none;
	float: left;
	margin-right: 20px;
	width: 70px;
	height: 70px;
	border-radius: 3px;
	position: relative;
}
.contacts-item:hover:before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: block;
	background-color: rgba(0,0,0,0.1);
}
.contacts-item a {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}
.contacts-item-vk {
	background-color: #517397;
}
.contacts-item-fb {
	background-color: #3C5A96;
}


/* Misc */

.button {
	width: 70px;
	height: 70px;
	display: block;
	background-color: #B0C64C;
	border-radius: 100%;
	border: none;
	box-shadow: 0px 2px 8px rgba(0,0,0,.5);
	outline: 0;
}
.button:hover {
	background-color: #A4B846;
	cursor: pointer;
}

.tbl-col {
	display: table;
	text-align: center
}

.tbl-cell {
	display: table-cell;
	vertical-align: middle;
}